<div class="search-controls">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Search for a movie...</mat-label>
    <input matInput [(ngModel)]="searchQuery" (keyup.enter)="search()">
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="filter-controls">
    <mat-form-field appearance="outline">
      <mat-label>Genre</mat-label>
      <mat-select [(ngModel)]="selectedGenre" (selectionChange)="search()">
        <mat-option [value]="null">All Genres</mat-option>
        <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Year</mat-label>
      <input matInput type="number" [(ngModel)]="selectedYear" (keyup.enter)="search()">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rating</mat-label>
      <input matInput type="number" [(ngModel)]="selectedRating" (keyup.enter)="search()">
    </mat-form-field>
  </div>
</div>

<div class="search-results" *ngIf="searchResults$ | async as movies; else loading">
  <mat-grid-list cols="4" rowHeight="450px" gutterSize="24px">
    <mat-grid-tile *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
