<div>
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search for a movie...">
  <button (click)="search()">Search</button>
</div>

<div>
  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select [(ngModel)]="selectedGenre" (selectionChange)="search()">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-label>Year</mat-label>
  <mat-slider min="1990" max="2024" step="1">
    <input matSliderThumb [(ngModel)]="selectedYear" (input)="search()">
  </mat-slider>

  <mat-label>Rating</mat-label>
  <mat-slider min="1" max="10" step="0.1">
    <input matSliderThumb [(ngModel)]="selectedRating" (input)="search()">
  </mat-slider>
</div>

<div *ngIf="searchResults$ | async as movies">
  <div *ngFor="let movie of movies" class="movie-card">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }} poster">
    <h3>{{ movie.title }}</h3>
    <p>{{ movie.overview }}</p>
    <button (click)="addToWatched(movie)">Add to Watched List</button>
  </div>
</div>
