.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 128px); /* Adjust based on navbar height */
}

.auth-card {
  width: 100%;
  max-width: 400px;
}

.mat-card-header {
  text-align: center;
  padding-bottom: 24px;
}

.full-width {
  width: 100%;
}

.auth-button {
  margin-top: 16px;
  padding: 12px 0;
}

.auth-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-top: 8px;
}

.auth-actions a {
  margin-left: 8px;
}
