.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 0;
}

mat-toolbar span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

button {
  margin: 0 5px;
}
