.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-card-image {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.mat-card-header {
  padding-top: 16px;
}

.overview {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
  flex-grow: 1;
}

.mat-card-actions {
  display: flex;
  align-items: center;
  padding: 16px;
}

.rating {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.rating mat-icon {
  color: #ffc107; /* Amber */
  margin-right: 4px;
}

.spacer {
  flex-grow: 1;
}
